<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>memvers.sparcs.org</title>
    <link rel="icon" type="image/svg+xml" sizes="69x150" href="assets/img/sparcs/Symbol.svg">
    <link rel="icon" type="image/svg+xml" sizes="69x150" href="assets/img/sparcs/Symbol.svg">
    <link rel="icon" type="image/svg+xml" sizes="69x150" href="assets/img/sparcs/Symbol.svg">
    <link rel="icon" type="image/svg+xml" sizes="69x150" href="assets/img/sparcs/Symbol.svg">
    <link rel="icon" type="image/svg+xml" sizes="69x150" href="assets/img/sparcs/Symbol.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex"><img src="assets/img/sparcs/SPARCS.svg" style="height: 20%;margin: auto;"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <hr>
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Memvers Admin</h4>
                                    </div>
                                    <div class="user">
                                        <div class="mb-3"><input type="text" id="IdInput" class="form-control-user" placeholder="ID" name="id" style="width: 100%;border-radius: 10px;padding-bottom: 10px;padding-top: 10px;"></div>
                                        <div class="mb-3"><input type="password" id="PasswordInput" class="form-control-user" placeholder="Password" name="password" style="width: 100%;border-radius: 10px;padding-bottom: 10px;padding-top: 10px;"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small"></div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" onclick="onClickLogin();">Login</button>
                                        <hr>
                                    </div>
                                    <div class="text-center"></div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/achievement.js"></script>
    <script src="assets/js/edit.js"></script>
    <script src="assets/js/footprint.js"></script>
    <script src="assets/js/hashlib.js"></script>
    <script src="assets/js/login.js"></script>
    <script src="assets/js/nugu.js"></script>
    <script src="assets/js/outlink.js"></script>
    <script src="assets/js/project.js"></script>
    <script src="assets/js/register.js"></script>
    <script src="assets/js/search.js"></script>
    <script src="assets/js/stack.js"></script>
    <script src="assets/js/validate.js"></script>
</body>

</html>